select {
    width: 200px;
    height: 32px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0;
}

.graph-style {
    width:930px; 
    height:380px;
}

.box{
    float: left;
    font-size: 26px;
    font-weight: bold;
}
.boxContainer{
    margin-top: 6px;
    overflow: hidden;
}